@font-face{ 
    font-family: 'CothamSans', sans-serif;
    src: url('CothamSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;

    font-family: 'neue-haas-grotesk-display', sans-serif;
    font-weight: 500;
    font-style: normal;

    font-family: 'neue-haas-grotesk-display', sans-serif;
    font-weight: 600;
    font-style: normal;
}


body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: auto; 
} 


#bg{
    display: block;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    overflow: hidden;
    position: fixed;
    z-index: -2;
}




@media only screen and (max-width: 900px) {

    div#header{
        font-size: 0.6em;
        line-height: 5em;
    }

    div#about{
        margin-top: 20vh;
    }

    div#blurb{
        width: 96vw;
        padding-left: 2vw;
        font-size: 1em;
        padding-right: 2vw;
    }

    div#colophon{
        width: 96vw;
        padding-left: 2vw;
        margin-top: 8vh;
        font-size: 1em;
        padding-right: 2vw;
    }

    
}


/*COVER*/
div#header{
    position: fixed;
    width: 98vw;
    display: block;
    height: auto;
    padding-left: 1vw;
    padding-right: 1vw;
    top: 0.5vh;
    z-index:3;
}

p.header{
    font-family: 'CothamSans', sans-serif;
    font-weight: 300;
    font-size: 5.1em;
    letter-spacing: 0em;
    top: 0px;
    margin: 0;
}

#about{
    position: absolute;
    width: 100vw;
    margin-top: 15vh;
    padding: 0;
    height: auto;
    padding-bottom: 3vh;
}

#blurb{    
    position: relative;
    margin-top: 0;
    float: left;
    top: 0px;
    width: 50vw;
    padding-left: 1vw;
    padding-right: 4vw;
}

p.description{
    font-family: 'neue-haas-grotesk-display', sans-serif;
    font-weight: 500;
    font-size: 1.1em;
    letter-spacing: 0.02em;
    top: 0px;
    margin: 0;
}

#colophon{    
    position: relative;
    margin-top: 0;
    float: left;
    top: 0px;
    width: 38vw;
    padding-left: 6vw;
    padding-right: 1vw;
}

p.colophon{
    font-family: 'neue-haas-grotesk-display', sans-serif;
    font-weight: 500;
    font-size: 1em;
    letter-spacing: 0.02em;
    top: 0px;
    margin: 0;
}
