@font-face {
  font-family: 'CothamSans', sans-serif;
  src: url("CothamSans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-family: 'neue-haas-grotesk-display', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-family: 'neue-haas-grotesk-display', sans-serif;
  font-weight: 600;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: auto;
  background-color: #b7b6b5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  z-index: -1000;
}

::-webkit-scrollbar {
  display: none;
}

::-moz-selection {
  background: #d4d3d2;
}

::selection {
  background: #d4d3d2;
}

.cover,
.foti {
  position: absolute;
}

.covercontent,
.foticontent {
  width: 100vw;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  overflow-x: hidden;
}

/* TEXT PROPERTIES */
p.text1 {
  font-family: 'neue-haas-grotesk-display', sans-serif;
  font-weight: 500;
  font-size: 1.1em;
  -webkit-text-stroke-width: 0.6px;
  -webkit-text-stroke-color: black;
  letter-spacing: 0.02em;
  top: 0px;
  margin: 0;
}

p.sess {
  font-family: 'CothamSans', sans-serif;
  font-size: 1.15em;
  text-align: left;
  margin: 0;
  letter-spacing: 0.01em;
}

p.text2 {
  font-family: 'neue-haas-grotesk-display', sans-serif;
  font-weight: 500;
  font-size: 1em;
  -webkit-text-stroke-width: 0.6px;
  -webkit-text-stroke-color: black;
  letter-spacing: 0.02em;
  top: 0px;
  margin: 0;
}

p.text3 {
  color: #b7b6b5;
  font-family: 'neue-haas-grotesk-display', sans-serif;
  font-weight: 500;
  -webkit-text-stroke-width: 0.6px;
  -webkit-text-stroke-color: #b7b6b5;
  font-size: 1.1em;
  letter-spacing: 0.02em;
  top: 0px;
  margin: 0;
}

/*COVER*/
.covercontent {
  background-color: #b7b6b5;
  height: 110vh;
  width: 100vw;
  z-index: 5;
}

.cover {
  height: 110vh;
  width: 100vw;
  -webkit-box-shadow: 0px 0px 8px 13px #b7b6b5;
          box-shadow: 0px 0px 8px 13px #b7b6b5;
}

div#header {
  position: relative;
  width: 98vw;
  display: block;
  height: auto;
  padding: 1vh;
  top: 0;
}

p.headerbig {
  font-family: 'CothamSans', sans-serif;
  font-weight: 300;
  font-size: 5.1em;
  line-height: 1em;
  letter-spacing: 0em;
  top: 0px;
  margin: 0;
}

div#covertext {
  position: absolute;
  width: 100vw;
  margin-top: 15vh;
  padding: 0;
  height: auto;
  padding-bottom: 3vh;
}

div#aboutfoti {
  margin-top: 0;
  float: left;
  top: 0px;
  width: 50vw;
  padding-left: 1vw;
  padding-right: 4vw;
}

div#colophon {
  margin-top: 0;
  float: left;
  top: 0px;
  width: 38vw;
  padding-left: 6vw;
  padding-right: 1vw;
}

/*FOTI lecture series*/
#bg {
  display: block;
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -5;
}

.foticontent {
  width: 100vw;
  height: 600vh;
}

.foti {
  height: calc(100vh + 630vh);
  z-index: -4;
  width: 100vw;
}
div#headerlectures {
  background-color: #b7b6b5;
  position: fixed;
  display: table;
  padding-left: 1vw;
  padding-right: 1vw;
  top: 0;
  height: auto;
  width: 98vw;
  z-index: 2;
  -webkit-box-shadow: 0px 0px 8px 13px #b7b6b5;
          box-shadow: 0px 0px 8px 13px #b7b6b5;
}

.hrightalign {
  float: right;
  height: auto;
  width: 20vw;
}

.hleftalign {
  width: 80vw;
  height: auto;
  padding: 0;
  margin: 0;
}

p.hfoti {
  font-family: 'CothamSans', sans-serif;
  margin-top: 1vh;
  margin-bottom: 0;
  font-size: 2.5em;
  letter-spacing: 0em;
}

p.htitle {
  font-family: 'neue-haas-grotesk-display', sans-serif;
  font-weight: 500;
  line-height: 1em;
  /*    padding-bottom: 1vh;  cancelado pelo blur*/
  margin: 0;
  font-size: 2.5em;
  letter-spacing: 0em;
}

p.category {
  font-family: 'CothamSans', sans-serif;
  margin-top: 1vh;
  font-size: 1.3em;
  letter-spacing: 0em;
  text-align: right;
}

div#chamber {
  position: fixed;
  right: 0%;
  top: 60%;
  z-index: 10;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  margin: 0;
  width: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

p.exhibition {
  color: black;
  font-family: 'CothamSans', sans-serif;
  font-size: 3em;
  margin: 0;
}

div#contentorabout {
  position: absolute;
  display: table;
  top: 15vh;
  width: 91vw;
  padding: 1vw;
}

div#rightcolumn {
  float: right;
  right: 0;
  padding-left: 1vw;
  width: 43vw;
}

#leftcolumn {
  float: left;
  width: 44vw;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

#leftcolumn2 {
  float: left;
  width: 44vw;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 0px 0px 8px 3px black;
          box-shadow: 0px 0px 8px 3px black;
}

div#contentorlectures {
  position: relative;
  display: table;
  width: 91vw;
  padding-top: 15vh;
}

div#contentorlectures_s {
  position: relative;
  display: table;
  width: 91vw;
  padding-top: 5vh;
}

div#fullcolumn {
  width: 91vw;
}

div#contentorspeakers {
  position: relative;
  display: table;
  width: 91vw;
}

p.text4 {
  color: black;
  font-family: 'neue-haas-grotesk-display', sans-serif;
  font-weight: 500;
  font-size: 1.5em;
  letter-spacing: 0.02em;
  top: 0px;
  margin: 0;
}

.embed-container {
  --video--width: 1296;
  --video--height: 740;
    margin-top: 3vh;
    margin-bottom: 3vh;
  padding-top: 5vh;
  position: relative;
  padding-bottom: calc(var(--video--height) / var(--video--width) * 100%);
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

div#headerchamber {
  background-color: black;
  position: fixed;
  display: table;
  margin-bottom: 0;
  top: 0;
  height: auto;
  width: 100vw;
  z-index: 2;
  -webkit-box-shadow: 0px 0px 8px 13px black;
          box-shadow: 0px 0px 8px 13px black;
}

div#headerchamber .hleftalign2 {
  float: left;
  width: 50vw;
  padding-left: 1vw;
}

div#headerchamber .hleftalign3 {
  float: left;
  width: 20vw;
  padding-left: 1vw;
}

div#headerchamber .hrightalign {
  float: right;
  padding-right: 1vw;
  height: auto;
  width: 20vw;
}

div#headerchamber p.hchamber {
  font-family: 'CothamSans', sans-serif;
  margin-top: 1vh;
  margin-bottom: 0;
  font-size: 2.5em;
  letter-spacing: 0.03em;
  color: #b7b6b5;
}

div#headerchamber p.esc {
  font-family: 'CothamSans', sans-serif;
  font-size: 1em;
  text-align: right;
  margin: 0;
  padding-top: 1vh;
  letter-spacing: 0.01em;
  color: #b7b6b5;
}

div#headerchamber p.exhb {
  font-family: 'CothamSans', sans-serif;
  font-size: 1.3em;
  text-align: left;
  margin: 0;
  padding-top: 1vh;
  letter-spacing: 0.01em;
  color: #b7b6b5;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-shadow: 0 0px 2px black;
  cursor: pointer;
  color: black;
}

a:active {
  text-shadow: 0 0px 1px black;
  color: black;
}

#exhibitionbox {
  display: none;
  margin: 0;
  width: 100%;
  height: 100vh;
  z-index: 800;
  background-color: black;
  position: fixed;
}

#exhibitionbox .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: scroll;
}

#exhibitionbox .content p.text1 {
  color: #b7b6b5;
  -webkit-text-stroke-width: 0px;
}

#exhibitionbox .content p.text2 {
  color: #b7b6b5;
  -webkit-text-stroke-width: 0px;
}

#exhibitionbox ::-moz-selection {
  background: black;
}

#exhibitionbox ::selection {
  background: black;
}

#exhibitionbox a:link {
  text-decoration: none;
  color: #b7b6b5;
}

#exhibitionbox a:visited {
  text-decoration: none;
  color: #b7b6b5;
}

#exhibitionbox a:hover {
  text-shadow: 0 0px 2px #b7b6b5;
  cursor: pointer;
  color: #b7b6b5;
}

#exhibitionbox a:active {
  text-shadow: 0 0px 1px #b7b6b5;
  color: #b7b6b5;
}

div#blurb {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 91vw;
  padding: 1vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 10vh;
}

div#hleftalign2 {
  float: left;
  width: 58vw;
  padding-right: 5vw;
}

div#hleftalign3 {
  float: left;
  width: 48vw;
}

#contentorch {
  margin: 0;
  top: 0;
  margin-top: 10vh;
}

#chimages {
  width: 100%;
  padding: 1vw;
  padding-bottom: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

div#soundlib {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 91vw;
  padding: 1vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 10vh;
  margin-bottom: 3vh;
}

div#soundlib p.slib {
  width: 100vw;
  font-family: 'CothamSans', sans-serif;
  font-size: 1.3em;
  line-height: 1.3em;
  text-align: left;
  margin: 0;
  padding-top: 1vh;
  letter-spacing: 0.01em;
  color: #b7b6b5;
}

div#soundlib #hleftalign3 {
  margin-bottom: 3vh;
}

/* MOBILE */
@media only screen and (max-width: 900px) {
  .covercontent {
    background-color: #b7b6b5;
    height: 255vh;
    width: 100vw;
    z-index: 5;
  }
  .cover {
    height: 255vh;
    width: 100vw;
  }
  .foticontent {
    width: 100vw;
    height: 500vh;
  }
  .foti {
    height: calc(100vh + 670vh);
    z-index: -4;
    width: 100vw;
  }
  div#covertext {
    margin-top: 20vh;
  }
  div#header {
    font-size: 0.6em;
    line-height: 5em;
  }
  div#aboutfoti {
    width: 96vw;
    padding-left: 2vw;
    font-size: 1em;
    padding-right: 2vw;
  }
  div#colophon {
    width: 96vw;
    padding-left: 2vw;
    margin-top: 8vh;
    font-size: 1em;
    padding-right: 2vw;
  }
  div#headerlectures {
    height: auto;
    padding-bottom: 1vh;
    text-align: left;
    width: 100vw;
  }
  .hrightalign,
  .hleftalign {
    float: left;
    width: 96vw;
  }
  p.hfoti {
    font-size: 1.6em;
    letter-spacing: 0em;
    margin: 0;
    padding-top: 1vh;
  }
  p.htitle {
    font-size: 1.6em;
    letter-spacing: 0em;
    line-height: 1.2em;
    padding-bottom: 0;
    margin: 0;
  }
  p.category {
    font-size: 1em;
    text-align: left;
    margin: 0;
    padding-top: 1vh;
    letter-spacing: 0.01em;
  }
  div#contentorabout {
    top: 23vh;
    font-size: 0.95em;
    float: left;
    left: 0;
    width: 80vw;
  }
  div#contentorabout,
  div#contentorlectures div#contentorspeakers,
  div#rightcolumn,
  div#leftcolumn,
  div#fullcolumn {
    font-size: 0.95em;
    float: left;
    padding-left: 1vw;
    width: 80vw;
  }
  #leftcolumn2 {
    display: none;
  }
  div#contentorlectures {
    position: relative;
    padding-top: 10vh;
  }
  .embed-container {
    --video--width: 650;
    --video--height: 340;
  }
  p.htitle {
    font-size: 1.6em;
    letter-spacing: 0em;
    line-height: 1.2em;
    padding-bottom: 0;
    margin: 0;
  }
  p.category {
    font-size: 1em;
    text-align: left;
    margin: 0;
    padding-top: 1vh;
    letter-spacing: 0.01em;
  }
  div#headerchamber {
    display: table;
    height: auto;
    top: 0;
    padding-bottom: 1vh;
    text-align: left;
    width: 98vw;
    margin-left: 1vw;
    margin-right: 1vw;
  }
  div#headerchamber p.hchamber {
    float: left;
    font-size: 1.8em;
    letter-spacing: 0;
    margin-bottom: 0;
    top: 0;
    width: 60vw;
  }
  div#headerchamber p.exhb {
    font-size: 1em;
    float: left;
    top: 0;
    width: 60vw;
  }
  div#headerchamber .hleftalign2,
  div#headerchamber .hleftalign3 {
    float: left;
    top: 0;
    width: 98vw;
  }
  div#headerchamber .hrightalign {
    position: absolute;
    float: right;
    top: 0;
    right: 0;
    width: 6vw;
    margin-top: 1vw;
    margin-right: 2vw;
  }
  div#blurb {
    display: table;
    width: 98vw;
    margin-top: 13vh;
  }
  div#blurb #hleftalign2,
  div#blurb #hleftalign3 {
    margin: 1vw;
    width: auto;
    padding-right: 0;
  }
  #contentorch {
    margin: 1vw;
    top: 0;
    margin-top: 2vh;
  }
  div#soundlib {
    display: table;
    margin-top: 3vh;
    width: 98vw;
    margin-left: 1vw;
    margin-right: 1vw;
  }
  div#soundlib #hleftalign3 {
    width: 50%;
  }
}
/*# sourceMappingURL=index.css.map */
